/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */

/* Keep the header sticky on every page, even if the theme option is off */
html:not(.html_header_sticky) #top #wrap_all #header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 501;
}

html:not(.html_header_sticky) #top #wrap_all #main {
  padding-top: 88px !important;
}

html:not(.html_header_sticky).html_header_topbar_active #top #wrap_all #main {
  padding-top: 119px !important;
}

html:not(.html_header_sticky).html_large #top #wrap_all #main {
  padding-top: 116px !important;
}

html:not(.html_header_sticky).html_large.html_header_topbar_active #top #wrap_all #main {
  padding-top: 147px !important;
}

html:not(.html_header_sticky).html_bottom_nav_header #top #wrap_all #main {
  padding-top: 140px !important;
}

html:not(.html_header_sticky).html_bottom_nav_header.html_header_topbar_active #top #wrap_all #main {
  padding-top: 170px !important;
}

html:not(.html_header_sticky).html_large.html_bottom_nav_header #top #wrap_all #main {
  padding-top: 168px !important;
}

html:not(.html_header_sticky).html_large.html_bottom_nav_header.html_header_topbar_active #top #wrap_all #main {
  padding-top: 198px !important;
}




/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

  html:not(.html_header_sticky) #top #wrap_all #header {
    position: fixed !important;
  }

  html:not(.html_header_sticky) #top #wrap_all #main {
    padding-top: 80px !important;
  }

}

/* Hide repeated widget references */
section.widget_text > h3.widgettitle,
section.widget_text .textwidget label,
section.widget_text .textwidget input::-webkit-input-placeholder,
section.widget_text .textwidget input::-moz-placeholder,
section.widget_text .textwidget input:-ms-input-placeholder,
section.widget_text .textwidget input::-ms-input-placeholder,
#cookie-notice,
#sbi_mod_error {
	display: none !important;
}
